APP_NAME="Nexa Auth API"
APP_VERSION="1.0.0"

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nexa_auth_db

JWT_PRIVATE_KEY_PATH=app/infrastructure/security/rsa_keys/private.pem
JWT_PUBLIC_KEY_PATH=app/infrastructure/security/rsa_keys/public.pem

# jwt auth
JWT_ALGORITHM=RS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7


# GOOGLE OAUTH2
GOOGLE_CLIENT_ID=951627717796-xxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxx-tXeFyqzmg2qtvCkYwKkY2W
GOOGLE_CALLBACK_URL=http://localhost:8000/api/v1/auth/google/redirect

# MICROSOFT OAUTH2
MICROSOFT_CLIENT_ID=<Application (client) ID>
MICROSOFT_CLIENT_SECRET=<client secret value>
MICROSOFT_TENANT_ID=f8cdef31-a31e-4b4a-93e4-5f571e91255a
MICROSOFT_CALLBACK_URL=http://localhost:8000/api/v1/auth/microsoft/redirect

# APPLE OAUTH2
APPLE_CLIENT_ID=com.company.web
APPLE_TEAM_ID=YOUR_TEAM_ID
APPLE_KEY_ID=ABC123XYZ
APPLE_PRIVATE_KEY_PATH=/ABSOLUTE/PATH/nexa-auth/secrets/AuthKey_ABC123XYZ.p8
APPLE_CALLBACK_URL=http://localhost:8000/api/v1/auth/apple/redirect


# Password reset
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=30
PASSWORD_RESET_RATE_WINDOW_SECONDS=900
PASSWORD_RESET_RATE_MAX_PER_KEY=5
FRONTEND_RESET_PASSWORD_URL=http://localhost:3000/reset-password

# SMTP
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM="[email protected]"
SMTP_USE_TLS=0
SMTP_USE_SSL=0

# Email verification
EMAIL_VERIFICATION_TOKEN_EXPIRE_MINUTES=60
EMAIL_VERIFICATION_RATE_WINDOW_SECONDS=900
EMAIL_VERIFICATION_RATE_MAX_PER_KEY=5
FRONTEND_VERIFY_EMAIL_URL=http://localhost:3000/verify-email

# Invitations
INVITATION_EXPIRE_MINUTES=1440           # 24h
INVITATION_RATE_WINDOW_SECONDS=900       # 15 min
INVITATION_RATE_MAX_PER_KEY=5
FRONTEND_ACCEPT_INVITE_URL=http://localhost:3000/accept-invite
