APP_NAME="Nexa Auth API"
APP_VERSION="1.0.0"

DB_USER=jeanaime
DB_PASSWORD=helloNexa
DB_HOST=147.93.90.223
DB_PORT=5433
DB_NAME=nexa_auth_db


JWT_PRIVATE_KEY_PATH=app/infrastructure/security/rsa_keys/private.pem
JWT_PUBLIC_KEY_PATH=app/infrastructure/security/rsa_keys/public.pem

#jwt auth
JWT_ALGORITHM=RS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

#google oauth2
GOOGLE_CLIENT_ID=310380513469-ourqq4gb5s683jnljvrdj2373uabnb20.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:8000/api/v1/auth/google/redirect

# APPLE OAUTH2
APPLE_CLIENT_ID=com.yourcompany.web  
APPLE_TEAM_ID=YOUR_TEAM_ID          
APPLE_KEY_ID=ABC123XYZ              
APPLE_PRIVATE_KEY_PATH=/absolute/path/AuthKey_ABC123XYZ.p8 
APPLE_CALLBACK_URL=http://localhost:8000/api/v1/auth/apple/redirect


# MICROSOFT OAUTH2
MICROSOFT_CLIENT_ID=f8cdef31-a31e-4b4a-93e4-5f571e91255a
MICROSOFT_CLIENT_SECRET=YOUR_APP_CLIENT_SECRET
MICROSOFT_TENANT_ID=f8cdef31-a31e-4b4a-93e4-5f571e91255a
MICROSOFT_CALLBACK_URL=http://localhost:8000/api/v1/auth/microsoft/redirect


# Password reset
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=30
PASSWORD_RESET_RATE_WINDOW_SECONDS=900
PASSWORD_RESET_RATE_MAX_PER_KEY=5
FRONTEND_RESET_PASSWORD_URL=http://localhost:3000/reset-password

# SMTP
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM="[email protected]"
SMTP_USE_TLS=0
SMTP_USE_SSL=0

# Email verification
EMAIL_VERIFICATION_TOKEN_EXPIRE_MINUTES=60
EMAIL_VERIFICATION_RATE_WINDOW_SECONDS=900
EMAIL_VERIFICATION_RATE_MAX_PER_KEY=5
FRONTEND_VERIFY_EMAIL_URL=http://localhost:3000/verify-

# Storage 
STORAGE_BACKEND=local
STORAGE_LOCAL_DIR=var/avatars
STORAGE_PUBLIC_BASE_PATH=/static/avatars

# Avatar policy
AVATAR_MAX_BYTES=5242880          # 5 MB
AVATAR_MIN_WIDTH=64
AVATAR_MIN_HEIGHT=64
AVATAR_MAX_WIDTH=2048
AVATAR_MAX_HEIGHT=2048


# Invitations
INVITATION_EXPIRE_MINUTES=1440           # 24h
INVITATION_RATE_WINDOW_SECONDS=900       # 15 min
INVITATION_RATE_MAX_PER_KEY=5
FRONTEND_ACCEPT_INVITE_URL=http://localhost:3000/accept-invite

# Phone OTP
PHONE_OTP_DIGITS=6
PHONE_OTP_EXPIRE_MINUTES=10
PHONE_OTP_RATE_WINDOW_SECONDS=600
PHONE_OTP_RATE_MAX_PER_KEY=3
OTP_PEPPER=                            

# SMS Provider
SMS_PROVIDER=console                     
SMS_SENDER_ID=NexaAuth                   

# Résumés (stockage local pour dev)
RESUMES_LOCAL_DIR=var/resumes

# OpenAI
OPENAI_API_KEY=sk-...
OPENAI_MODEL=gpt-4o-mini  
OPENAI_BASE_URL=https://api.openai.com/v1

# Scoring weights (cv)
SCORING_W_EMAIL_VERIFIED=0.20
SCORING_W_PHONE_VERIFIED=0.15
SCORING_W_PROFILE_COMPLETION=0.20
SCORING_W_SKILLS=0.35
SCORING_W_ACTIVITY=0.10

# Scoring paramètres (activité & skills)
SCORING_ACTIVITY_HALF_LIFE_DAYS=180    
SCORING_SKILLS_COUNT_CAP=20            
