APP_NAME="Nexa Auth API"
APP_VERSION="1.0.0"

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nexa_auth_db

JWT_PRIVATE_KEY_PATH=app/infrastructure/security/rsa_keys/private.pem
JWT_PUBLIC_KEY_PATH=app/infrastructure/security/rsa_keys/public.pem
JWT_ALGORITHM=RS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
